<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lmh.mytraveldairyjava">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:ignore="AllowBackup">
        <activity android:name=".UpdateNicName"/>
        <activity android:name=".ChangeProfileImage" />
        <activity android:name=".Intro_loading" />
        <activity android:name=".TravelDairyDescription" />
        <activity android:name=".CurrencySelect" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".ProfilePicUpload" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".StartMainScreen" />
        <activity android:name=".StartActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginEmail" />
        <activity
            android:name=".DairyNew"
            android:label="신규여행계획"
            android:theme="@style/AppTheme" />
        <activity android:name=".OnBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lmh.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>